.post {
  max-width: 1000px;
  margin: 0 auto;
  padding: 30px;
}

.title {
  text-align: center;
}

.post h1.title {
    font-size:xx-large;
  }

@media (width < 48rem) {
  .post h1.title {
    font-size:x-large;
  }
}

.date {
  text-align: left;
  color: #666;
  margin: 1rem 0;
}


.contentBody > * + * {
  margin-top: 1rem;
}

.contentBody p {
  text-align: center;
}

.contentBody figure {
  display: flex;
  justify-content: center;
  align-items: center;
}