.post {
  max-width: 1000px;
  margin: 0 auto;
  padding: 30px;
}

.title {
  text-align: center;
}

.date {
  text-align: left;
  color: #666;
  margin: 1rem 0;
}


.contentBody > * + * {
  margin-top: 1rem;
}
